{% extends 'base.html' %}

{% block content %}
{% if user.is_staff %}
        <div style="background: #1a1a1a; border-bottom: 2px solid #198754; padding: 10px; text-align: center;">
            <a href="{% url 'dashboard_bi' %}" style="color: #198754; text-decoration: none; font-weight: bold;">
                🛡️ ACESSAR DASHBOARD DE VENDAS (BI)
            </a>
        </div>
    {% endif %}

<section class="hero">
    <div class="container hero-content">
        <h1>Bem-vindo a {{ nome_empresa }}!</h1>
        <h2>O Futuro na Sua Mão!</h2>
        <p>Descubra as últimas inovações em hardware e dispositivos inteligentes com ofertas exclusivas.</p>
        <a href="#produtos" class="cta-button">Explorar Ofertas</a><br>
        <a href="#faq" class="cta-button">FAQ</a>
    </div>
</section><br>

<section id="introducao">
    <div>
        <p>Na TechStore, oferecemos uma ampla variedade de produtos tecnológicos para atender às suas
            necessidades. Desde os mais recentes smartphones até notebooks de alta performance, temos tudo o que
            você
            precisa para se manter conectado e produtivo. Explore nossos produtos cuidadosamente selecionados e
            descubra
            as últimas tendências em tecnologia. Aproveite nossas ofertas exclusivas e faça suas compras com
            segurança e conveniência. Estamos aqui para ajudar você a encontrar o dispositivo perfeito que se
            encaixa
            no seu estilo de vida e orçamento. Vem conferir nossas ofertas exclusivas e encontrar o parceiro
            tecnológico ideal para o seu estilo. Conte com a gente para uma compra segura, prática e cheia de
            inovação!</p>
        <p id="agradecimento">Obrigado por escolher a <strong>TechStore</strong> como sua loja de tecnologia de
            confiança!</p>
    </div>
</section>

<section id="produtos" class="container">
    <h2 class="section-title">Produtos em Destaque</h2>
    <div class="row">

        <div class="card col-12 col-md-6 col-lg-4">
            <div class="product-img">
                <img src="https://a-static.mlcdn.com.br/420x420/notebook-samsung-galaxy-book4-intel-core-i3-8gb-ram-ssd-256gb-156-full-hd-windows-11-np750xgj-kg5br/magazineluiza/238407300/b9351a5d8902e673e7ba45d4d13acc8d.jpg"
                    alt="Notebook Gamer" width="200px">
            </div>
            <div class="card-body">
                <h4 class="card-title"> Notebook Samsung Galaxy Book4 Intel Core i3 8GB RAM SSD 256GB 15,6" Full HD
                    Windows 11 </h4>
                <p>Desempenho excepcional para jogos e multitarefa.</p>
                <p class="card-text"><strong>R$3.499,90</strong></p>
                <details id="details">
                    <summary>Mais informações</summary>
                    <p>Este notebook conta com processador Intel Core i3, 8GB de RAM e um SSD de 256GB, ideal para
                        estudos e trabalho administrativo com Windows 11 original. Ele é recomendado para uso
                        pessoal e
                        profissional.</p>
                </details><br><br>
                <div class="badge">
                    <input type="checkbox" id="coracao-toggle-1" class="checkbox-escondido">
                    <label for="coracao-toggle-1" class="label-coracao">
                        <svg viewBox="0 0 24 24" width="30" height="30">
                            <path
                                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                        </svg>
                    </label>
                </div>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Adicionar ao Carrinho
                </button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Comprar
                </button>
            </div>
        </div>

        <div class="card col-12 col-md-6 col-lg-4"><br>
            <div class="product-img">
                <img src="https://www.havan.com.br/media/catalog/product/cache/73a52df140c4d19dbec2b6c485ea6a50/c/e/celular-smartphone-xiaomi-redmi-a3-4g-octacore-4gb-ram-128gb_1011980.jpg"
                    alt="Smartphone Avançado" width="200px">
            </div>
            <div class="card-body">
                <h4 class="card-title"> Smartphone Xiaomi Redmi A3 4G Octacore 4GB RAM 128GB </h4>
                <p>Câmera de alta resolução e bateria de longa duração.</p>
                <p class="card-text"><strong>R$899,90</strong></p>
                <details id="details">
                    <summary>Mais informações</summary>
                    <p>Este smartphone conta com processador Octacore, 4GB de RAM e um armazenamento de 128GB, ideal
                        para uso diário e multitarefa com Android 13. Ele é recomendado para uso pessoal e profissional.
                    </p>
                </details><br><br>
                <div class="badge">
                    <input type="checkbox" id="coracao-toggle-2" class="checkbox-escondido">
                    <label for="coracao-toggle-2" class="label-coracao">
                        <svg viewBox="0 0 24 24" width="30" height="30">
                            <path
                                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                        </svg>
                    </label>
                </div>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Adicionar ao Carrinho
                </button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Comprar
                </button>
            </div>
        </div>

        <div class="card col-12 col-md-6 col-lg-4"><br>
            <div class="product-img">
                <img src="https://webfones.vtexassets.com/arquivos/ids/246247-800-800?v=638778353024170000&width=800&height=800&aspect=true.jpg"
                    alt="Tablet Versátil" width="200px">
            </div>
            <div class="card-body">
                <h4 class="card-title"> Tablet Samsung Galaxy TabA9 EE LTE 8'7 64GB 4GB RAM </h4>
                <p>Perfeito para trabalho e entretenimento em qualquer lugar.</p>
                <p class="card-text"><strong>R$749,90</strong></p>
                <details id="details">
                    <summary>Mais informações</summary>
                    <p>Este tablet Samsung Galaxy Tab A9 EE LTE possui tela de 8,7 polegadas com resolução HD (1280 x
                        800 px) e painel do tipo IPS. O chassi é todo construído em metal na cor cinza, com espessura de
                        7,5 mm e peso de apenas 345g, oferecendo boa mobilidade para levar a qualquer lugar. Ele é ideal
                        para uso pessoal e profissional.</p>
                </details><br><br>
                <div class="badge">
                    <input type="checkbox" id="coracao-toggle-3" class="checkbox-escondido">
                    <label for="coracao-toggle-3" class="label-coracao">
                        <svg viewBox="0 0 24 24" width="30" height="30">
                            <path
                                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                        </svg>
                    </label>
                </div>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Adicionar ao Carrinho
                </button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Comprar
                </button>
            </div>
        </div>

        <div class="card col-12 col-md-6 col-lg-4"><br>
            <div class="product-img">
                <img src="https://d1j48ryyrcdvj8.cloudfront.net/Custom/Content/Products/98/79/98798_smart-tv-50-philips-4k-50pug7019-78-preta_m1_638718408998573332.jpg"
                    alt="Smart TV Philips Preta" width="200px">
            </div>
            <div class="card-body">
                <h4 class="card-title"> Smart TV Philips 50" 4K UHD HDR 50PUG7019/78 Preta </h4>
                <p>Excelente custo-benefício com alta tecnologia.</p>
                <p class="card-text"><strong>R$2.799,90</strong></p>
                <details id="details">
                    <summary>Mais informações</summary>
                    <p>Esta Smart TV Philips 50" 4K possui tecnologia de imagem HDR e conectividade Wi-Fi. Com tela de
                        alta resolução, ela oferece uma experiência visual imersiva e clara, ideal para assistir a
                        filmes e séries em alta qualidade.</p>
                </details><br><br>
                <div class="badge">
                    <input type="checkbox" id="coracao-toggle-4" class="checkbox-escondido">
                    <label for="coracao-toggle-4" class="label-coracao">
                        <svg viewBox="0 0 24 24" width="30" height="30">
                            <path
                                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                        </svg>
                    </label>
                </div>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Adicionar ao Carrinho
                </button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Comprar
                </button>
            </div>
        </div>

        <div class="card col-12 col-md-6 col-lg-4"><br>
            <div class="product-img">
                <img src="https://m.media-amazon.com/images/I/61Lg5RZZFQL._AC_UF1000,1000_QL80_.jpg" alt="Amazon Stick"
                    width="100px">
            </div>
            <div class="card-body">
                <h4 class="card-title"> Amazon FireTV Stick full HD + controle remoto por voz com Alexa </h4>
                <p>Streaming em HD com controle de casa inteligente.</p>
                <p class="card-text"><strong>R$319,90</strong></p>
                <details id="details">
                    <summary>Mais informações</summary>
                    <p>Este FireTV Stick full HD oferece streaming em alta qualidade com controle remoto por voz
                        integrado. Ideal para usuários que desejam uma experiência de streaming completa e integrada ao
                        ambiente doméstico.</p>
                </details><br><br>
                <div class="badge">
                    <input type="checkbox" id="coracao-toggle-5" class="checkbox-escondido">
                    <label for="coracao-toggle-5" class="label-coracao">
                        <svg viewBox="0 0 24 24" width="30" height="30">
                            <path
                                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                        </svg>
                    </label>
                </div>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Adicionar ao Carrinho
                </button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Comprar
                </button>
            </div>
        </div>

        <div class="card col-12 col-md-6 col-lg-4"><br>
            <div class="product-img">
                <img src="https://mirandacomputacao.jetassets.com.br/produto/multifotos/hd/48435-principal.png"
                    alt="Fone De Ouvido Jbl Bluetooth Preto" width="200px">
            </div>
            <div class="card-body">
                <h4 class="card-title"> Fone De Ouvido Jbl Live 770NC Bluetooth Preto </h4>
                <p>Excelente para uso diário com qualidade de som premium.</p>
                <p class="card-text"><strong>R$649,90</strong></p>
                <details id="details">
                    <summary>Mais informações</summary>
                    <p>Este fone de ouvido JBL Live 770NC possui tecnologia de cancelamento de ruído ativo,
                        conectividade Bluetooth 5.0 e bateria de longa duração. Ideal para uso em ambientes ruidosos e
                        para ouvir música com qualidade premium.</p>
                </details><br><br>
                <div class="badge">
                    <input type="checkbox" id="coracao-toggle-6" class="checkbox-escondido">
                    <label for="coracao-toggle-6" class="label-coracao">
                        <svg viewBox="0 0 24 24" width="30" height="30">
                            <path
                                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                        </svg>
                    </label>
                </div>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Adicionar ao Carrinho
                </button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Comprar
                </button>
            </div>
        </div>

        <div class="card col-12 col-md-6 col-lg-4"><br>
            <div class="product-img">
                <img src="https://cdn.sistemawbuy.com.br/arquivos/b0c36266e1a9271e949cf113bd58d369/produtos/66644d464f8ee/whatsapp-image-2024-06-08-at-09-18-29-66644d469bfe4.jpeg"
                    alt="Fone De Ouvido JBL preto intra-auriculares Bluetooth" width="200px">
            </div>
            <div class="card-body">
                <h4 class="card-title"> Fone De Ouvido JBL Preto Intra-Auricular Wave 200tws Bluetooth </h4>
                <p>Excelente para uso diário com qualidade de som premium e liberdade do true wireless por até 20h.</p>
                <p class="card-text"><strong>R$299,90</strong></p>
                <details id="details">
                    <summary>Mais informações</summary>
                    <p>Este fone de ouvido JBL Wave 200TWS possui tecnologia de cancelamento de ruído ativo,
                        conectividade Bluetooth 5.0 e bateria de longa duração. Ideal para uso em ambientes ruidosos e
                        para ouvir música com qualidade premium.</p>
                </details><br><br>
                <div class="badge">
                    <input type="checkbox" id="coracao-toggle-7" class="checkbox-escondido">
                    <label for="coracao-toggle-7" class="label-coracao">
                        <svg viewBox="0 0 24 24" width="30" height="30">
                            <path
                                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                        </svg>
                    </label>
                </div>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Adicionar ao Carrinho
                </button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Comprar
                </button>
            </div>
        </div>

        <div class="card col-12 col-md-6 col-lg-4"><br>
            <div class="product-img">
                <img src="https://m.media-amazon.com/images/I/51T4d+l0-PL.jpg" alt="Smartwatch apple preto"
                    width="200px">
            </div>
            <div class="card-body">
                <h4 class="card-title"> Apple Watch Series 10 Gps + Caixa Preta Brilhante De Alumínio e Pulseira
                    Esportiva Preta </h4>
                <p>Integração total com GPS e funções avançadas.</p>
                <p class="card-text"><strong>R$1.799,90</strong></p>
                <details id="details">
                    <summary>Mais informações</summary>
                    <p>Este smartwatch Apple Watch Series 10 possui tecnologia de GPS integrada, funcionalidades
                        avançadas de saúde e fitness, e design elegante com caixa de alumínio brilhante e pulseira
                        esportiva preta. Ideal para quem busca conectividade e desempenho em um dispositivo inteligente.
                    </p>
                </details><br><br>
                <div class="badge">
                    <input type="checkbox" id="coracao-toggle-8" class="checkbox-escondido">
                    <label for="coracao-toggle-8" class="label-coracao">
                        <svg viewBox="0 0 24 24" width="30" height="30">
                            <path
                                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                        </svg>
                    </label>
                </div>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Adicionar ao Carrinho
                </button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Comprar
                </button>
            </div>
        </div>

        <div class="card col-12 col-md-6 col-lg-4"><br>
            <div class="product-img">
                <img src="https://m.media-amazon.com/images/I/515WXCl5jJL._AC_.jpg" alt="Alexa Echo Dot 5ª Geração Azul"
                    width="200px">
            </div>
            <div class="card-body">
                <h4 class="card-title"> Alexa Echo Dot 5ª Geração Azul </h4>
                <p>Assistente virtual inteligente com som vibrante e potente.</p>
                <p class="card-text"><strong>R$429,90</strong></p>
                <details id="details">
                    <summary>Mais informações</summary>
                    <p>Esta Alexa Echo Dot 5ª Geração possui assistente virtual inteligente com controle de voz e
                        integração com dispositivos inteligentes. Ideal para quem busca conveniência e conectividade em
                        casa.</p>
                </details><br><br>
                <div class="badge">
                    <input type="checkbox" id="coracao-toggle-9" class="checkbox-escondido">
                    <label for="coracao-toggle-9" class="label-coracao">
                        <svg viewBox="0 0 24 24" width="30" height="30">
                            <path
                                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                        </svg>
                    </label>
                </div>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Adicionar ao Carrinho
                </button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Comprar
                </button>
            </div>
        </div>

        <div class="card col-12 col-md-6 col-lg-4"><br>
            <div class="product-img">
                <img src="https://m.media-amazon.com/images/I/51dfg52K-cL._AC_SL1500_.jpg"
                    alt="Console PlayStation 5 Pro" width="200px">
            </div>
            <div class="card-body">
                <h4 class="card-title"> Console PlayStation 5 Pro </h4>
                <p>Console de última geração com desempenho excepcional e gráficos impressionantes.</p>
                <p class="card-text"><strong>R$5.999,90</strong></p>
                <details id="details">
                    <summary>Mais informações</summary>
                    <p>Este console PlayStation 5 Pro oferece desempenho de última geração com gráficos impressionantes
                        e uma experiência de jogo imersiva. Ideal para entusiastas de jogos que buscam a melhor
                        qualidade
                        visual e desempenho em hardware de ponta.</p>
                </details><br><br>
                <div class="badge">
                    <input type="checkbox" id="coracao-toggle-10" class="checkbox-escondido">
                    <label for="coracao-toggle-10" class="label-coracao">
                        <svg viewBox="0 0 24 24" width="30" height="30">
                            <path
                                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                        </svg>
                    </label>
                </div>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Adicionar ao Carrinho
                </button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Comprar
                </button>
            </div>
        </div>

    </div>
</section>

<section id="sobre-nos">
    <h2>Sobre a TechStore:</h2><br>
    <p>
        Bem-vindo à <strong>TechStore</strong>, o seu destino definitivo para o que há de mais moderno em
        tecnologia!
        Fundada em 2024, a TechStore nasceu com o propósito de ser mais do que apenas uma loja de eletrônicos,
        somos o seu destino definitivo para inovação. Nossa missão é transformar a maneira como você trabalha,
        estuda e se diverte, facilitando o acesso a tecnologias de ponta que otimizam sua rotina. Nossa missão é
        conectar pessoas à inovação, oferecendo produtos de alta performance
        que transformam o dia a dia, seja para trabalho, lazer ou criação de conteúdo. A TechStore é uma empresa
        dedicada a fornecer produtos tecnológicos de alta qualidade a preços
        competitivos. Nossa missão é tornar a tecnologia acessível a todos, oferecendo uma experiência de compra
        excepcional e atendimento ao cliente de primeira classe. Estamos comprometidos em trazer as últimas
        inovações do mercado para nossos clientes, garantindo satisfação e confiança em cada compra. Junte-se a
        nós e descubra o futuro da tecnologia com a TechStore!
    </p><br>

    <h3>Nossa Missão:</h3><br>
    <p>
        Democratizar o acesso às últimas novidades do mercado de hardware e periféricos,
        garantindo qualidade e suporte especializado para entusiastas e profissionais. Acreditamos que a
        tecnologia deve ser acessível a todos, e estamos aqui para tornar isso possível. Nosso compromisso é
        manter você sempre à frente, trazendo as últimas tendências do mercado global diretamente para as suas
        mãos. Queremos ser o parceiro que ajuda você a criar conteúdo, gerir negócios ou simplesmente aproveitar
        momentos de lazer com o máximo de eficiência.
    </p><br>

    <h3>Porque escolher a TechStore?</h3><br>
    <ul>
        <li><strong>Curadoria Especializada:</strong> Selecionamos apenas as melhores marcas.</li><br>
        <li><strong>Suporte Técnico Real:</strong> Nossa equipe entende de hardware e está pronta para ajudar.
        </li><br>
        <li><strong>Entrega Rápida:</strong> Logística eficiente para todo o Brasil.</li><br>
        <li><strong>Garantia Estendida:</strong> Confiança total na procedência dos nossos produtos.</li><br><br>
        <p id="frase-final">Aproveite as ofertas para comprar tudo que quiser!
        </p><br>
        <h5 id="alerta"><strong>Ofertas válidas até o término de nossos estoques. Vendas sujeitas à análise e
                confirmação de dados.</strong>
        </h5>
    </ul>
</section>

<section id="faq">
    <h2>Perguntas Frequentes (FAQ)</h2><br>
    <div class="accordion" id="accordionFAQ">
        <div class="accordion-item">
            <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Como funciona o envio e qual o prazo de entrega?
                </button>
            </h3>

            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
                <div class="accordion-body">
                    Entregamos para todo o Brasil com uma logística rápida e eficiente! O prazo e o valor do frete
                    variam de acordo com o seu CEP e podem ser simulados diretamente no carrinho de compras antes de
                    finalizar o pedido.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Os produtos possuem garantia?
                </button>
            </h3>

            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
                <div class="accordion-body">
                    Sim! Todos os produtos comercializados na <strong>TechStore</strong> possuem garantia oficial do
                    fabricante. Além disso, oferecemos a nossa Garantia Estendida exclusiva, reforçando a total
                    confiança na procedência do nosso estoque.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Preciso de ajuda com um produto. Como aciono o Suporte Técnico?
                </button>
            </h3>

            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
                <div class="accordion-body">
                    Nosso grande diferencial é ter uma equipe técnica que entende de hardware de verdade. Você pode
                    acionar nosso suporte técnico pelo chat online na sua área de cliente ou pelo telefone <strong>(21)
                        91234-5678</strong>, de segunda a sexta, das 9h às 18h.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Quais são as formas de pagamento aceitas?
                </button>
            </h3>

            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
                <div class="accordion-body">
                    Aceitamos pagamentos via <strong>Pix (com 5% de desconto)</strong>, cartões de crédito em até 12x
                    sem juros (dependendo do valor) e boleto bancário à vista.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Posso devolver ou trocar um produto?
                </button>
            </h3>

            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
                <div class="accordion-body">
                    Claro! Respeitamos o Código de Defesa do Consumidor. Você tem até <strong>7 dias corridos</strong>
                    após o recebimento do produto para solicitar a devolução por arrependimento, desde que o item esteja
                    na embalagem original e sem sinais de uso.
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}