{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow">

            <div class="card-header bg-dark text-white">
                <h4 class="mb-0">Acesso ao Cliente | TechStore</h4>
            </div>

            <div class="card-body">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.username.id_for_label }}" class="form-label">Usuário</label>
                        <input type="text" name="username" class="form-control" id="id_username" required>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password.id_for_label }}" class="form-label">Senha</label>
                        <input type="password" name="password" class="form-control" id="id_password" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mt-3">Entrar na TechStore</button>
                </form>

                <br>
                <p class="text-center">Não possui conta? <a href="{% url 'cadastro' %}">Cadastre-se agora!</a></p>
                <p class="text-center">Dificuldades no acesso? Entre em contato com o nosso suporte.</p>

            </div>
        </div>
    </div>
</div>

{% endblock %}